<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" />
  <arg name="open_rviz" default="true" />
  <arg name="world" default="empty" />

  <!-- Delybot -->
  <include file="$(find delybot_control)/launch/ddr_control.launch">
    <arg name="world" value="$(arg world)" />
    <arg name="open_rviz" value="false" />
  </include>

  <!-- SLAM: Gmapping -->
  <include file="$(find delybot_slam)/launch/$(arg slam_methods).launch"></include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find delybot_slam)/rviz/delybot_$(arg slam_methods).rviz" />
  </group>

</launch>